html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map-canvas {
  height: 100%;
  width: 50%;
  float: left;
}
#chart {
  float: right;
  height: 50%;
  width: 50%;
}
#carbonChart {
  float: right;
  height: 50%;
  width: 50%;
}